#foursquarecheckin-statusbarpanel-icon[value="active"] {
	list-style-image: url("chrome://foursquarecheckin/skin/foursquare24.png");
}
#foursquarecheckin-statusbarpanel-icon[value="inactive"] {
	list-style-image: url("chrome://foursquarecheckin/skin/foursquare-gray24.png");
}

li.foursquarecheckin-option{
	background: none repeat scroll 0 0 #666666;
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 0;
    padding: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

#checkinContainer .header{
	background:#FF9B00;
}

#foursquarecheckin-message{
	overflow:hidden;
	background:none repeat scroll 0 0 #FFF6B5;
	border-radius:5px;
	line-height:15px;
	padding:0 10px;
	height:0px;
	display:none;
	border:1px solid #F4E89E;
}


li.foursquarecheckin-option input[type=checkbox]{
	display:none;
}

li.foursquarecheckin-option .buttons{
	float: right;
}

#checkinContainer textarea{
	border-radius:5px;
	border: 1px solid #AAAAAA; 
	color: #333333;
	font-family: helvetica,arial,sans-serif;
	font-size: 16px;
	height: 18px;
	margin: 0;
	padding: 8px;
	width: 245px;
}
#foursquarecheckin-private-yes,
#foursquarecheckin-private-no,
#foursquarecheckin-facebook-button,
#foursquarecheckin-twitter-button{
	background: -moz-linear-gradient(center top , #999999, #333333) repeat scroll 0 0 transparent; 
	border: 1px solid #444444;
	color:#FFFFFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
	cursor:pointer;
    text-align: center;
	text-decoration:none;
}

#foursquarecheckin-private-yes,
#foursquarecheckin-private-no{ 
    width: 40px;	
}

#foursquarecheckin-private-yes{
	border-radius: 5px 2px 2px 5px;
}

#foursquarecheckin-private-yes[current=true]{
	background: -moz-radial-gradient(center center , #9FEEFF, #0CBADF) repeat scroll 0 0 transparent;
}

#foursquarecheckin-private-no{
	border-radius: 2px 5px 5px 2px;
}

#foursquarecheckin-private-no[current=true]{
	background: -moz-radial-gradient(center center , #FC8A8C, #EA232A) repeat scroll 0 0 transparent;
}

#foursquarecheckin-facebook-button,
#foursquarecheckin-twitter-button{
	border-radius: 5px;
	margin:0 0 0 10px;
	width:30px;
}
#foursquarecheckin-facebook-button span,
#foursquarecheckin-twitter-button span{
	display: inline-block;
    height: 30px;
    width: 30px;
	background-position:center;
	background-repeat:no-repeat;
}

#foursquarecheckin-facebook-button span{
	background-image: url("chrome://foursquarecheckin/skin/facebookicon.png");
}

#foursquarecheckin-facebook-button[current=true]{
	background:  -moz-radial-gradient(center center, #697FAA, #3B5998) repeat scroll center center transparent;
}

#foursquarecheckin-twitter-button span{
	background-image:  url("chrome://foursquarecheckin/skin/twittericon.png");
}

#foursquarecheckin-twitter-button[current=true]{
	background:  -moz-radial-gradient(center center, #9FEEFF, #5599BB) repeat scroll center center transparent;
}

#foursquarecheckin-private-yes[disabled=true],
#foursquarecheckin-private-no[disabled=true],
#foursquarecheckin-facebook-button[disabled=true],
#foursquarecheckin-twitter-button[disabled=true]{
	background:  -moz-linear-gradient(center top, #BBBBBB, #888888) repeat scroll center center transparent;
}

#foursquarecheckin-status-container{
	font-size:11px;
	margin:10px 0 0;
	text-align:right;
}

#foursquarecheckin-name-display{
	display:inline !important;
}

#foursquarecheckin-logout{
	color: #2398C9;
	cursor:pointer;
	font-weight:bold;
	text-decoration:underline;
}

#foursquarecheckin-container
{
	margin-bottom:0;
}

#foursquarecheckin-footer{
	font-size:11px;
	margin:2px 0 13px 0;
	text-align:right;
}